body {
    font-family: Optima, sans-serif;
}


.grid-5-cols{
    margin: 1rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns:  20% 20% 20% 20% 20%;
}

.grid-8-rows{
    width: min(90%, 75rem);
    display: grid;
    grid-template-rows: 25px 25px 25px 50px 50px 25px 50px 50px;
}

.grid-6-rows{
    width: min(90%, 75rem);
    display: grid;
    grid-template-rows: 25px 25px 25px 50px 25px 50px;
}

.grid-5-rows{
    width: min(90%, 75rem);
    display: grid;
    grid-template-rows: 50px;
}

.grid-4-rows{
    width: min(90%, 75rem);
    display: grid;
    grid-template-rows: 25px 25px 25px 50px;
}

.grid-2-cols{
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns: 50% 50%;
}

.team{
    width:20%;
    /* height:20%; */
}

.center-heading {
    margin-top: 25px;
    text-align: center;
}

.center {
    text-align: center;
}

.top-of-page {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.link{
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    color:  blue;
    /* margin: */
}